.nav{
	width: 961px;
	height: 32px;
	margin: 0 auto;
}
.navl{
	width: 17px;
	height: 32px;
	float: left;
	background-image: url(img/navl.jpg);
	background-position: top left;
	background-repeat: no-repeat;
}
.navr{
	width: 13px;
	height: 32px;
	float: left;
	background-image: url(img/navr.jpg);
	background-position: top left;
	background-repeat: no-repeat;
}
.subnav1{
	width: 103px;
	height: 32px;
	background-image: url(img/subnav1.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	line-height: 35.5px;
	color: #ffffff;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}
.subnav2{
	width: 101px;
	height: 32px;
	background-image: url(img/subnav2.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	line-height: 35.5px;
	color: #ffffff;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}
.subnav3{
	width: 102px;
	height: 32px;
	background-image: url(img/subnav3.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	line-height: 35.5px;
	color: #ffffff;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}
.subnav4{
	width: 101px;
	height: 32px;
	background-image: url(img/subnav4.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	line-height: 35.5px;
	color: #ffffff;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}
.subnav5{
	width: 113px;
	height: 32px;
	background-image: url(img/subnav5.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	line-height: 35.5px;
	color: #ffffff;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}
.subnav6{
	width: 103px;
	height: 32px;
	background-image: url(img/subnav6.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	line-height: 35.5px;
	color: #ffffff;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}
.subnav7{
	width: 101px;
	height: 32px;
	background-image: url(img/subnav7.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	line-height: 35.5px;
	color: #ffffff;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}
.subnav8{
	width: 101px;
	height: 32px;
	background-image: url(img/subnav8.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	line-height: 35.5px;
	color: #ffffff;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}
.subnav9{
	width: 106px;
	height: 32px;
	background-image: url(img/subnav9.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	line-height: 35.5px;
	color: #ffffff;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}
.subnav{
	width: 104px;
	line-height: 35.5px;
	color: #ffffff;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
}
