body{
	background-image: url(img/repeat.jpg);
	background-repeat:repeat-x;
	margin:0;
	padding: 0;
}
.wid{
	padding: 0;
	margin:0 auto;
}
.heading{
	width:961;
	height: 85px;
	background-image: url(img/heading.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	margin:0 auto;
}
.func{
	float: right;
	width:250px;
}
.collection{
	height: 20px;
	width:55px;
	margin: 10px 11px;
	float: right;
}
.mailto{
	height: 20px;
	width:55px;
	margin: 10px 11px;
	float: right;
}
.homepage{
	height: 20px;
	width:55px;
	margin: 10px 11px;
	float: right;
}